@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');
/* "Sofia Sans Semi Condensed";
--paragraph-font: Lato, Helvetica, sans-serif; */

#id {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #FFCC4D;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.hero-img {
    width: 100%;
}

.logo {
    width: 80px;
    border-radius: 50%;
}

.card-img {
    width: 500px;
    border: 10px solid #219EBC;
}

.button-box {
    text-align: center;
}



.home-title {
    color: #219EBC;
    font-family: "Sofia Sans Semi Condensed";
    font-size: 2em;
    margin-top: 10px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #FFCC4D;

}

.icon {
    width: 80px;
    padding-top: 10px;
}

body {
    background-color: beige;
    font-size: 22px;
    font-family: 'Lato', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #219EBC;
}

h4 {
    color: #219EBC;
}

h2 {
    margin: 0;
}

.book, .join {
    background-color: #219EBC;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #023047;
    color: white;
    text-decoration: underline;
}

.msg {
    background-color: #219EBC;
    color: #219EBC;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}

.msg h2 {
    color: #219EBC;
    font-family: "Sofia Sans Semi Condensed", Arial, 'Times New Roman';
}

.msg p {
    color: white;
    font-size: 0.8em;
    padding-bottom: 15px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    background-color: #023047;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a img {
    width: 80px;
}

footer a:hover {
    color: #FFCC4D;
}

footer .social img {
    padding-top: 15px;
}